.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li
      a([routerLink]="['Dashboard']", [class.link--active]="active === 0", (click)="active = 0", href='')
        | Dashboard
        span.sr-only (current)
    li
      a([routerLink]="['Profile']", [class.link--active]="active === 1", (click)="active = 1", href='') Profile 
    li
      a([routerLink]="['AccountListings']", [class.link--active]="active === 2", (click)="active = 2", href='') Your Listings 
    li
      a([routerLink]="['Settings']", [class.link--active]="active === 3", (click)="active = 3", href='') Settings 
    li
      a(href='/logout') Logout 
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  router-outlet
