/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 20px;
  display: inline-block;
  color: $color-gray--text;
  margin-top: 0;
  font-size: 1.4em;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  // border: 0;
}


/*
 * Main content
 */
// col-sm-9.col-sm-offset-3.
// col-md-10.col-md-offset-2.
.main {
  padding: 80px 20px 20px 20px;
  background: #f2f5f6;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  display: inline-block;
  color: $color-gray--text;
  margin-top: 0;
  margin-right: 10px;
  font-size: 1.4em;
  border: none;
}


