.login {

  &__container {
    margin-top: 100px;
    background: $color-white;
    padding: 20px 10px;
    border-radius: 8px;
    border: 1px solid $color-gray;

    // @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    // @include make-md-column(4);
  }

  &__header {
    text-align: center;
  }

  &__footer {
    text-align: center;
  }
  &__social-link {
    padding: 20px 0;
    border-right: 1px solid $color-gray;
    border-top: 1px solid $color-gray;

    p {
      font-size: .8em;;
      font-family: $font--primary;;
    }
  }

  &__local-link {
    padding: 20px 0 0 20px;
    border-top: 1px solid $color-gray;

    p {
      font-size: .8em;;
      font-family: $font--primary;;
    }
  }

  &__footer {
    text-align: center;
    font-family: $font--primary;
    font-size: .9em;;
  }

  &__link--facebook {
    // background: #3B5998;
    width: 386px;
    height: 43px;
    background: url('../images/btn_facebook_login_2.png') no-repeat;
    display: block;
    // @include center-block;
    @include hide-text;
  }

  &__link--google{
    border: 1px solid black;
    margin-top: 10px;
    width: 386px;
    height: 43px;
    display: block;
    background: url('../images/btn_google_signin_light_pressed_web.png') no-repeat;
    // background: url('../images/btn_google_signin_dark_normal_web.png') no-repeat;
    @include hide-text;
  }
}
