.navbar {
  padding-top: .8em;
  margin-bottom: 0;
  background: transparent;
  border-color: transparent;

  li {
    a {
      margin: 0 10px 0 0;
      background: none;
    }
  }
}

.navbar--account {
  background: white;
  padding-top: 0;
  border-bottom: 1px solid $color-gray--border-alt;
  // border-bottom: 1px solid black;

  li {
    a {
      color: black !important;
    }
  }

}

.navlinks {
  margin-left: 40px;

  li {
    font-size: .9em;
    a {
      font-family: $font--primary;
      padding: 7px 10px;
      margin: 0 4px 0 0;
      color: white;
      font-weight: bold;
    }
  }
}

.navbar-right {
  li {
    font-size: .9em;
    a {
      padding: 7px 12px;
      margin: 0 10px 0 0;
      font-family: $font--primary;
      color: white;
    }
  }
}

.nav--list {
  border: 2px solid white;
  border-radius: 4px;
}

.header_avatar {
  width: 30px;
  height: 30px;
}

.dropdown_header {
  border: none;
  background: none;
  outline: none;
}
