.property {
  &_title-container {
    padding: 16px 0;
  }

  &_title {
    font-size: 24px;
    font-weight: normal;
  }

  &_location {
    color: $color-blue;
    font-size: 14px;
  }
  &_main--image {
    height: 360px;
    overflow: hidden;

    img {
      background-size: cover;
    }
  }
}

.main {
  &--public {
  }
}
