
/* Fonts */
$color-red:           #a62540;
$color-green:         #57d497;
$color-blue:          #38C9FB;
$color-gray:          #E9EAED;
$color-gray--border:  #c4c4c4;
$color-white:         #ffffff;



