
/* Fonts */
$color-red:           #a62540;
$color-green:         #57d497;
$color-blue:          #2180d7;
$color-gray:          #E9EAED;
$color-gray--text:    #47525d;
$color-gray--border:  #c4c4c4;
$color-white:         #ffffff;
$color-black:         #000000;


$font--primary: 'Open Sans', sans-serif;
$font--secondary: 'Raleway', sans-serif;
