extends layout

block content 
  include ./layout/account/account-nav.jade
  .container-fluid
    .row
      include ./layout/account/account-sidebar.jade
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h2.sub-header Add property
        p=user.userId
        form(method="post", action="/api/properties")
          input(type="hidden", name="posted_by", value="#{user.userId}")
          .form-group.row
            label.col-sm-2.form-control-label(for='name') Name 
            .col-sm-10
              input#name.form-control(type='text', name="name", placeholder='Listing Name')
          .form-group.row
            label.col-sm-2.form-control-label(for='bedroom') Bedroom 
            .col-sm-10
              input#bedroom.form-control(type='text', name="bedroom", placeholder='Bedroom')
          .form-group.row
            label.col-sm-2 Shower 
            .col-sm-10
              .radio
                label
                  input#shower(type='radio', name='shower', value='1', checked='')
                  | 1 shower
              .radio
                label
                  input#shower(type='radio', name='shower', value='2')
                  | 2 showers 
              .radio
                label
                  input#shower(type='radio', name='shower', value='3')
                  | 3 showers 
          .form-group.row
            label.col-sm-2.form-control-label(for='selectbasic') Area
            .col-sm-3
              select.form-control(name='area')
                each area in areas
                  option(value='#{area._id}')=area.name
                // option(value='2') Option two

          .form-group.row
            .col-sm-offset-2.col-sm-10
              button.btn.btn-secondary(type='submit') Add property
