extends layout

block content
  include ./layout/nav.jade

  h2 Dashboard

  ul
    li 
      a(href="/properties/create") List new property
    li
      a(href='/logout') Logout

  != messages()
include ./layout/footer.jade
