extends layout

block content
  .homepage__jumbotron
    include ./layout/nav.jade
    .container
      // h1.homepage__header Guiding you to good & affordable homes in Davao
      // p.homepage__sub-header Discover where to live in Davao. By locals, for everyone.

      h1.homepage__header Discover where to live in Davao.
      // p.homepage__sub-header I'm looking for a house for rent in Bangkal area Find now 
      form.homepage__form.form-horizontal
        span I'm looking for
        select
          option House
          option Room 
          option Lot 
          option Condo 
          option House and Lot
        span for
        select
          option Rent 
          option Sale 
        span in 
        select
          option Bangkal 
          option Ulas 
        span area 
        button.btn-primary(type="submit") Search 
  div.container.homepage__properties
    h2.homepage__properties--header Explore properties in Davao 
    // h3 Checkout some of the most popular areas in beautiful Davao
    // #{areas}
    - each area in areas
      div.homepage__properties__container.col-sm-4
        div.homepage__properties--image
          img.img-responsive(src="../images/location-property-matina.jpg")
          p.homepage__properties--name=area.name 
          a.homepage__properties--count(href="/areas/#{area.name}")=area.properties.length 
            span  properties
    a.btn.btn-primary(href="/") See All Properties
include ./layout/footer.jade
