extends layout

block content
  // include ./layout/account/account-nav.jade
  // include ./layout/nav.jade
  div.container
    div.login__container
      h3.login__header Login to your Balay account!
      != messages()
      div.col-sm-6.login__social-link
        p Login with social media
        a.login__link--facebook(href="/auth/facebook") Sign in with Facebook
        a.login__link--google(href="/auth/google") Login with google
      div.col-sm-6.login__local-link
        p Login with email
        if errors
          ul
          each error, i in errors
            li.alert.alert-danger #{error.msg}
        form(method='post' action="/login")
          div.form-group
            // label(for="email") Email:
            input.form-control(type="text", placeholder="Email", name="email", value="#{ user? user : '' }" novalidate)
          div.form-group
            // label(for="password") Password:
            input.form-control(type="password", placeholder="Password", name="password", novalidate)
          div.form-group
            button.btn.btn-block.btn-primary(type="submit") Login
      div.login__footer 
        p Don't have an account? 
          a(href="/signup") Sign up now
include ./layout/footer.jade
