extends layout

block content
  include ./layout/nav.jade
  h2 Login to your account
  != messages()
  div.container
    form.form-horizontal(method='post' action="/login")
      div.form-group
        label(for="username") Username:
        input(type="text", name="username", required=true)
      div.form-group
        label(for="password") Password:
        input(type="password", name="password", required=true)
  p Don't have an account? 
    a(href="/signup") Sign up now
include ./layout/footer.jade
