.btn {
  border-radius: 4px;

  &-primary {
    background: $color-blue;
    border: 1px solid $color-blue;
    font-size: .8em;
    padding: 8px 14px;
  }
}

.btn--account-primary {
  @extend .btn-primary;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}
