.flash {
  &__info {
    padding: 40px;
    background: lighten($color-gray--text, 57%);
    border-radius: 4px;
    text-align: center;

    &--empty-list {
      padding: 40px;
      background: lighten($color-gray--text, 57%);
      border-radius: 4px;
      text-align: center;
    }
    &-header {
      font-size: 1.3em;
      // font-weight: bold;
      text-align: center;
      color: $color-gray--text;
    }
  }
}
