doctype html
html
  head
    title= title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic' rel='stylesheet')
    link(href='/stylesheets/flaticon.css', rel='stylesheet')
    link(href='/stylesheets/main.css', rel='stylesheet')


    script(src='/es6-shim/es6-shim.min.js')
    script(src='/systemjs/dist/system-polyfills.js')
    script(src='/angular2/bundles/angular2-polyfills.js')
    script(src='/systemjs/dist/system.src.js')
    script(src='/rxjs/bundles/Rx.js')
    script(src='/angular2/bundles/angular2.dev.js')

    script.
      System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('/app/main')
        .then(null, console.error.bind(console));

  body
    my-app Loading...
    block content

