.navbar(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo.navbar-brand(href='/') Balay 
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href='#') Separated link
            li
              a(href='#') One more separated link
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/areas') Areas
        li
          a(href='/properties') Property
        li
          a(href='/agents') Find an Agent 
        // If user is NOT logged in
        if !user
          li
            a(href='/signup') Sign Up 
          li
            a(href='/login') Login 
        li
          a.nav--list(href='/signup') List Your Property 
        if user
          li
            a(href='/logout') Logout
